@import "./_color";

.navbar-default{
  border: none;
  background-color: transparent;
  .navbar-brand{
    color: $green;
    font-size: 30px;
  }
  .navbar-nav {
    background-color: transparent;

    & > li.active {
      border-bottom: 1px solid black;
      & > a { background-color: transparent; }
    }
  }

}
