#detail-home {
  padding-left: 10px;
}
.fb-comments{
  text-align: center;
}

#detail-phonenumber,#detail-agerequirement,#detail-organizationname,#detail-address,#detail-jobdescription{
  font-weight: bold;
}
.content.active{
  display:block;
}
.content{
  display:none;
}
#detail-optionbutton{
  text-align: center;
}
