@import "./_layout";

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}
.table-striped > tbody > tr:hover {
  background: gray;
  cursor: pointer;
}

.toppad
{margin-top:20px;
}

#profile {
  text-align: right;
}

.title{

}
