
    <div id="footer" class="row">
      <div class="About col-md-3">
        <p>About us</p>
        <p>Blog</p>
        <p>Privacy Policy</p>
        <p>Terms of Service</p>
      </div>

      <div class="Help col-md-3">
        <p>Help Center</p>
        <p>Get Started</p>
        <p>Contact us</p>
      </div>

      <div class="Visit us"></div>

      <div class="Contact col-md-3">
        <p>adsfadsjf jf</p>
        <div class="col-lg-3">
     <div class="input-group">
       <input type="text" class="form-control" placeholder="Email Address">
       <span class="input-group-btn">
         <button class="btn btn-default" type="button">Sign up</button>
       </span>
     </div>
   </div>
        <button type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
        <button type="button" class="btn btn-primary btn-circle"><i class="glyphicon glyphicon-list"></i></button>
        <button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-link"></i></button>
    </div>
  </div>
