<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="./"><img src="./images/logo.png" href="./" style="width: 120px; height:88px; margin-top: -40px;">
    </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {{#if menu_start}}class="active"{{/if}}><a href="./">Start Volunteering <span class="sr-only">(current)</span></a></li>
        <li {{#if menu_search}}class="active"{{/if}}> <a href="./searchpage.php">Find Opportunities</a></li>
        <?php
          if(isset($_SESSION["id"]) && !empty($_SESSION["id"])) {
        ?>
        <li {{#if menu_job}}class="active"{{/if}}> <a href="./postjobform.php">Post a Job</a></li>
    <?php } ?>
      </ul>
      <?php
        if(isset($_SESSION["id"]) && !empty($_SESSION["id"])) {
      ?>
      <ul class="nav navbar-nav navbar-right">
        <li {{#if menu_profile}}class="active"{{/if}}><a href="./profile.php">My Profile</a></li>
        <li><a href="./php/logout.php">Logout</a></li>
      </ul>
      <?php
        }
        else {
      ?>
      <ul class="nav navbar-nav navbar-right">
        <li {{#if menu_login}}class="active"{{/if}}><a href="./login.php">Login</a></li>
          <li {{#if menu_register}}class="active"{{/if}}><a href="./register.php">Register</a></li>
      </ul>
      <?php } ?>
    </div>
  </div>
</nav>
