<html>
  <head>
    {{> head}}
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="./js/detail.js"></script>
    <link rel="stylesheet" href="./css/detail.css">
  </head>
	<body>
	{{> header}}
  <div id="fb-root"></div>
    <div>
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Location</a></li>
        <li role="presentation" id="reviews"><a href="#">Reviews</a></li>
      </ul>
    </div>
    <div class="row content active" id="detail-Home">
      <div class="col-md-7">
        <h2>"insert job name"</h2>
        <div id="detail-phonenumber">Phone Number:</div><div>00-000-000</div><br/>
        <div id="detail-agerequirement">Age Requirement:</div><div>15years old - 19 years old</div><br/>
        <div id="detail-organizationname">Organization Name:</div><div>blah hostipal</div><br/>
        <div id="detail-address">Address:</div> <div>2847 University Street,Seattle, WA </div><br/>
        <div id="detail-worktime">When:</div> <div>Monday-Friday 2:00pm-3:30pm</div><br/>
        <div id="detail-jobdescription">Job Description:</div><div>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor.</div>
      </div>
      <div class="col-md-5">
        <img src="..." style="width:100%;height:50%">
        <div id="detail-optionbutton">
        <button type="button" class="btn btn-outline-primary" id="detail-sendvolunteerrequest">Send Volunteer Request</button>
        <button type="button" class="btn btn-outline-primary" id="detail-saveasbookmark">Save as bookmark</button>
        </div>
      </div>
    </div>
    <div id="detail-Location" class="content">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d58759.16906197546!2d120.28783349999999!3d23.007315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2stw!4v1490376535555" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div id="detail-Reviews" class="content">
      <div class="fb-comments" data-href="https://www.facebook.com/Alive-Appreciate-Love-in-Volunteering-Everyday-100729750470795/" data-width="1000" data-numposts="3"></div>
    </div>
  {{> footer }}
  </body>
</html>
