<html>
  <head>
    {{> head}}
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="./js/detail.js"></script>
    <link rel="stylesheet" href="./css/detail.css">
  </head>
	<body>
	{{> header}}
  <?php @include "php/detail.php"; ?>
  <div id="fb-root"></div>
    <div>
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Location</a></li>
        <li role="presentation" id="reviews"><a href="#">Reviews</a></li>
      </ul>
    </div>
    <div class="row content active" id="detail-Home">
      <div class="col-md-7">
        <h2><?php echo $row["job_name"]; ?></h2>
        <div id="detail-phonenumber">Phone Number:</div><div><?php echo $row["phone_number"]; ?></div><br/>
        <div id="detail-agerequirement">Age Requirement:</div><div><?php echo $row["age_requirement"]; ?></div><br/>
        <div id="detail-organizationname">Organization Name:</div><div><?php echo $row["org_name"]; ?></div><br/>
        <div id="detail-address">Address:</div> <div><?php echo $row["address"]; ?></div><br/>
        <div id="detail-worktime">When:</div> <div><?php echo $row["time"]; ?></div><br/>
        <div id="detail-website">Website:</div><div><?php echo $row["website"]; ?></div><br/>
        <div id="detail-jobdescription">Job Description:</div><div><?php echo $row["job_description"]; ?></div>
      </div>
      <div class="col-md-5">
        <img src="..." style="width:100%;height:50%">
        <div id="detail-optionbutton">
        <button type="button" class="btn btn-outline-primary" id="detail-sendvolunteerrequest">Send Volunteer Request</button>
        <?php
        if($_SESSION["id"] == $row["userid"]){
          ?>
        <button type="button" class="btn btn-outline-primary" id="detail-saveasbookmark" onClick="location.href='updatejob';">Edit job</button>
        <?php } ?>
        </div>
      </div>
    </div>
    <div id="detail-Location" class="content" style="text-align:center">
      <iframe src="https://www.google.com/maps?q=<?php echo $row['address']; ?>&output=embed" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div id="detail-Reviews" class="content" style="text-align:center;">
      <div class="fb-comments" data-href="https://www.facebook.com/Alive-Appreciate-Love-in-Volunteering-Everyday-100729750470795/" data-width="1000" data-numposts="3"></div>
    </div>
  {{> footer }}
  </body>
</html>
