<?php session_start(); ?>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="css/home.css" >
	</head>
	<body>
    {{> header}}
    <div id="big-background">
      <div id="search-bar">
        <img src="./images/white.png" style="width: 309.6px; height: 210px;"/>
        <p style="font-family: Tahoma, Geneva, sans-serif; color:black; font-size:35px;">Appreciate Love in Volunteering Everyday</p>
        <form class="input-group" action="./searchpage.php">
          <input type="text" class="form-control" name="sea rchvalue" method="get" placeholder="Search for volunteer jobs">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
          </span>
        </form>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
