<?php session_start(); ?>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="css/home.css" >
	</head>
	<body>
    {{> header}}
    <div class="jumbotron">
<input type="text"
    {{> footer }}
  </body>
</html>
