<?php session_start(); ?>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="css/home.css" >
	</head>
	<body>
    {{> header}}
    <div id="big-background">
      <div id="search-bar">
        <h1>Alive</h1>
        <p>appreciate love in volunteering everyday</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for volunteer jobs">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div>
    </div>
    {{> footer }}
  </body>
</html>
