<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="css/home.css" >
	</head>
	<body>
    {{> header}}
    <div id="header" class="row">
      <div class="list">
        <h3>List</h3>
        <button>Most Popular</button>
        <button>Dates</button>
        <button>Age</button>
      </div>
      <div class="">
      </div>
      <div class="">
      </div>
    <div class="col-md-4">
    </div>
    <div draggable=""class="col-md-4">
      <h4 class="title">Highlights</h4>
      <div class="homepage">
        <p></p></br>
        <p></p></br>
        <p></p></br>
        <p></p></br>
        <p></p></br>
        <p></p></br>
        <a class="btn btn-no-border share-btn-fb" onclick="window.open('https://www.facebook.com/','fb','width=626,height=436');return false;">
  								<i class="fa fa-facebook"></i>
                  <img src="images/facebookicon.png"height="30px"weight="30px">
                	<span class="share-btn-text">Share</span>
                <i class="fa fa facebook">
                </i>
              </a>
                  <a class="btn btn-no-border share-btn-twitter" onclick="window.open('https://twitter.com/','tweet','width=626,height=436');return:false;">
  								<i class="fa fa-twitter"></i>
                  <img src="images/twitter-128.png"height="30px"weight="30px">
  								<span class="share-btn-text">Tweet</span>
  							</a>
                <i class="fa fa-twitter"></i>
              </i>
              <a class="btn btn-no-border share-btn-google" onclick="window.open('https://plus.google.com/?hl=zh_tw','google+','width=626,height=436');return:false;">
  								<i class="fa fa-google-plus"></i>
                  <img src="images/google-plus-flat.png"height="30px"weight="30px">
  								<span class="share-btn-text">Share</span>
  							</a>
                <i class="fa fa-google-plus"></i>
            </div>
    </div>
  </div>
    {{> footer }}
  </body>
</html>
