<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="css/home.css" >
	</head>
	<body>
    {{> header}}
    <div class="jumbotron">
      <h3>What are you looking for?</h3>
<div class="style-select" tabindex="2">
    <div class="col-md-4">
      <select name="search_type">
        <option value="Volunteer Opportunities">Volunteer Opportunities</option>
        <option value="Organization">Organization</option>
        <option value="People">People</option>
        <option value="Events">Events</option>
        <input type="text" class="form-control searchbox" placeholder="Keywords">
        <input type="text" class="form-control searchbox" placeholder="Where">
        <style>
        .searchbox{
          margin-top: 30px;
          margin-bottom: 30px;
        }
        </style>
        <button type="submit" class="btn btn-default">Search</button>
     </div>
   </div>
   </div>
<div class="jumbotron">
  <div class="container">
  </div>
</div>
    {{> footer }}
  </body>
</html>
