<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="css/login.scss">
	</head>
	<body>
	{{> header}}
  <?php include "./php/login.php" ?>
  <div id="signup" style="text-align:center">
    <h1>Sign in</h1>
  <form class="form-inline" method="post">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Email address/username</label>
    <input type="email" class="form-control" id="exampleInputEmail3" name="Email" placeholder="Enter email/username">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword3" placeholder="Password">
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
  </div>
  {{> footer }}
  </body>
</html>
