<!DOCTYPE html>
<html>
<head>
    {{> head}}
  </head>
  <body>
    {{> header}}
<?php @include "php/postjobform.php"; ?>
<form class="form-horizontal" action='' method="POST">
  <fieldset>
    <div id="legend" style="text-align: center">
      <h3>Post Job</h3>
    </div>
    <div class="control-group" style="text-align: center">
      <!-- Job Name -->
      <label class="control-label"  for="username">Job Name</label>
      <div>
        <p><?php echo $row["job_name"]; ?></p>
      </div>
    </div>

    <div class="control-group" style="text-align: center">
      <!--Age Requirement -->
      <label class="control-label" for="email">Age Requirement</label>
      <div>
        <p><?php echo $row["age_requirement"]; ?></p>
      </div>
    </div>

    <div class="control-group" style="text-align: center">
      <!-- Org. Name-->
      <label class="control-label" for="password">Oragnization Name</label>
      <div>
      <input type="text" placeholder=""
      </div>
    </div>

    <div class="control-group" style="text-align: center">
      <label class="control-label"  for="password_confirm">Address</label>
      <div>
        <p><?php echo $row["address"]; ?></p>
      </div>
    </div>

    <div class="control-group" style="text-align: center">
      <!-- When -->
      <label class="control-label" for="username">When</label>
      <div>
        <p><?php echo $row["time"]; ?></p>
      </div>
    </div>

    <div class="control-group" style="text-align: center">
      <!-- Phone Number -->
      <label class="control-label" for="username">Phone Number</label>
      <div>
        <p><?php echo $row["phone_number"]; ?></p>
      </div>
    </div>

    <div class="control-group" style="text-align: center">
      <!-- Website -->
      <label class="control-label" for="username">Website</label>
      <div>
        <p><?php echo $row["website"]; ?></p>
      </div>
    </div>

    <div class="control-group" style="text-align: center">
      <!-- Job Description -->
      <label class="control-label" for="username">Job Description</label>
      <div class="controls">
        <p><?php echo $row["job_description"]; ?></p>
      </div>
    </div>

    <div class="control-group" style="text-align: center">
      <!-- Post Button -->
      <div class="controls">
        <button class="btn btn-success">Post</button>
      </div>
    </div>
  </fieldset>
</form>
{{> footer }}
</body>
</html>
