<!DOCTYPE html>
<html>
<head>
    {{> head}}

  <link rel="stylesheet" href="css/Profile.css">
</head>
<body>
  {{> header}}
  <?php @include "php/profile.php"; ?>
  <div class="row">
    <h3><?php echo $row["first_name"]." ".$row["last_name"]; ?></h3>
    <div class="col-md-11">
      <img src="./images/profile.svg" height="100px" width="100px">
    </div>
    <div class="col-md-12">
      <p>Job: <?php echo $row["job"]; ?></p>
    </div>
    <div class="col-md-12">
      <p>Email: <?php echo $row["email"]; ?></p>
    </div>
    <div class="col-md-12">
      <p>Age: <?php echo $row["age"]; ?></p>
    </div>
    <div class="col-md-12">
      <p>Gender: <?php echo $row["gender"]; ?></p>
    </div>
    <div class="col-md-12">
      <p>Phone Number: <?php echo $row["phone_number"]; ?></p>
    </div>
    <div class="col-md-12">
          <p>Birthday: <?php echo $row["birthday"]; ?></p>
    </div>
  </div>
    {{> footer }}
</body>
</html>
