<!DOCTYPE html>
<html>
<head>
    {{> head}}

  <link rel="stylesheet" href="css/Profile.css">
</head>
<body>
  {{> header}}
  <div class="row">
    <h3>May Chen</h3>
    <div class="col-md-11">
      <img src="./images/profile.svg" height="100px" width="100px">
    </div>
    <div class="col-md-12">
      <p>Job: student</p>
    </div>
    <div class="col-md-12">
      <p>Email: a;sldkfjfji@gmail.com</p>
    </div>
    <div class="col-md-12">
      <p>Age: 15</p>
    </div>
    <div class="col-md-12">
      <p>Gender: Femail</p>
    </div>
    <div class="col-md-12">
      <p>Phone Number: 0900000000</p>
    </div>
    <div class="col-md-12">
          <p>Birthday: 00/00/00</p>
    </div>
  </div>
    {{> footer }}
</body>
</html>
