<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="css/register.css">
	</head>
	<body>
	{{> header}}
    <?php
    include "./php/register.php"
    ?>
    <div id="Registration" style="text-align:center">
      <h1>Register for Alive</h1>
      <h2>Sign Up for more!</h2>
      <div id="Registration-forms">
      <form class="form-inline" id="name" method="post">
        <div class="form-group">
          <p>First Name</p>
          <input type="text" class="form-control" id="exampleInputName2" placeholder="First Name" name="firstname">
        </div><br/>
        <div class="form-group">
          <p>Last Name</p>
          <input type="text" class="form-control" id="exampleInputName2" placeholder="Last Name" name="lastname">
        </div><br/>
      <div class="form-group row">
        <p>Email</p>
        <div class="col-xs-10">
          <input class="form-control" type="email" placeholder="example@example.com" id="example-email-input" name="email">
        </div>
      </div><br/>
      <div class="form-group row">
        <p>Password</p>
        <div class="col-xs-10">
          <input class="form-control" type="password" placeholder="Enter Your Password" id="example-password-input" name="password">
        </div>
      </div><br/>
      <div class="form-group row">
        <p>Phone number</p>
        <div class="col-xs-10">
          <input class="form-control" type="tel" placeholder="1-(555)-555-5555" id="example-tel-input" name="phonenumber">
        </div>
      </div><br/>
      <div class="form-group row">
        <p>Birthday</p>
        <div class="col-xs-10">
          <input class="form-control" type="date" placeholder="2011-08-19" id="example-date-input" name="birthday">
        </div>
      </div><br/>
      Select Profile Picture to upload:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload Image" name="submit">
      <input type="submit" />
    </form>
  </div>
    </div>

  {{> footer }}
  </body>
</html>
