<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="css/searchpage.css">
	</head>
	<body>
    {{> header}}
    <?php @include "php/searchpage.php"; ?>
    <div class="jumbotron" style="padding:10px">
      <h2>Search Result of <?php echo $search_result; ?>!</h2>
      </div>
  <!--
    <div class="sort-by">
      <h4>Sort By</h4>
      <button type="button" class="btn btn-secondary btn-lg">Most Popular</button>
      <button type="button" class="btn btn-secondary btn-lg">Most Recent</button>
      <button type="button" class="btn btn-secondary btn-lg">Most Views</button>
    </div>
  -->
    <div class="col-lg-12">
     <div class="input-group input-group-lg" style="margin:10px;">
       <form action="./searchpage.php" method="get">
       <input type="text" class="form-control" name="searchvalue" method="get" placeholder="Search for...">
       <span class="input-group-btn">
           <button class="btn btn-default" type="submit">Go!</button>
       </span>
     </form>
     </div><!-- /input-group -->
   </div><!-- /.col-lg-6 -->
    <div class="row">
    <!--
      <div class="col-md-3 filter">
        <h2>Filter results</h2>
        <p>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Location (City) <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Changhua</a></li>
            <li><a href="#">Chiayi</a></li>
            <li><a href="#">Douliu</a></li>
            <li><a href="#">Hsinchu</a></li>
            <li><a href="#">Hualien</a></li>
            <li><a href="#">Kaohsiung</a></li>
            <li><a href="#">Keelung</a></li>
            <li><a href="#">Magong</a></li>
            <li><a href="#">Miali</a></li>
            <li><a href="#">Nantou</a></li>
            <li><a href="#">New Taipei</a></li>
            <li><a href="#">Pingtung</a></li>
            <li><a href="#">Puzi</a></li>
            <li><a href="#">Taibao</a></li>
            <li><a href="#">Taichung</a></li>
            <li><a href="#">Tainan</a></li>
            <li><a href="#">Taipei</a></li>
            <li><a href="#">Taitung</a></li>
            <li><a href="#">Taoyuan</a></li>
            <li><a href="#">Toufen</a></li>
            <li><a href="#">Yilan</a></li>
            <li><a href="#">Yuanlin</a></li>
            <li><a href="#">Zhubei</a></li>
          </ul>
        </div></br>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Weekday <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Monday</a></li>
            <li><a href="#">Tuesday</a></li>
            <li><a href="#">Wednesday</a></li>
            <li><a href="#">Thursday</a></li>
            <li><a href="#">Friday</a></li>
            <li><a href="#">Saturday</a></li>
            <li><a href="#">Sunday</a></li>
          </ul>
        </div><br/>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Time <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">8:00</a></li>
            <li><a href="#">8:30</a></li>
            <li><a href="#">9:00</a></li>
            <li><a href="#">9:30</a></li>
            <li><a href="#">10:00</a></li>
            <li><a href="#">10:30</a></li>
            <li><a href="#">11:00</a></li>
            <li><a href="#">11:30</a></li>
            <li><a href="#">12:00</a></li>
            <li><a href="#">12:30</a></li>
            <li><a href="#">13:00</a></li>
            <li><a href="#">13:30</a></li>
            <li><a href="#">14:00</a></li>
            <li><a href="#">14:30</a></li>
            <li><a href="#">15:00</a></li>
            <li><a href="#">15:30</a></li>
            <li><a href="#">16:00</a></li>
            <li><a href="#">16:30</a></li>
            <li><a href="#">17:00</a></li>
            <li><a href="#">17:30</a></li>
            <li><a href="#">18:00</a></li>
            <li><a href="#">18:30</a></li>
            <li><a href="#">19:00</a></li>
            <li><a href="#">19:30</a></li>
            <li><a href="#">20:00</a></li>
            <li><a href="#">20:30</a></li>
            <li><a href="#">21:00</a></li>
            <li><a href="#">21:30</a></li>
          </ul>
      </div>
      </div>
    -->
    <div class="row col-md-9">
<?php
while($row=$result->fetch_assoc()){
?>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Search Result 1: <?php echo $row["job_name"];?></h3>
              <p>Job title: <?php echo $row["job_name"];?> </br> Age:<?php echo $row["age_requirement"];?> </br> Location: <?php echo $row["address"];?></br></p>
              <p><a href="./detail.php?jobid=<?php echo $row["id"];?>" class="btn btn-primary" role="button">Click For More Info</a> </p>
            </div>
          </div>
        </div>
  <?php } ?>

  <ul class="pagination">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  </ul>
  </div>
  </div>
    {{> footer }}
  </body>
</html>
