<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="css/searchpage.css">
	</head>
	<body>
    {{> header}}
    <h1>Search Result of ()</h1>
    <div class="sort-by">
      <h2>Sort By</h2>
      <button type="button" class="btn btn-secondary btn-lg">Most Popular</button>
      <button type="button" class="btn btn-secondary btn-lg">Most Recent</button>
      <button type="button" class="btn btn-secondary btn-lg">Most Views</button>
    </div>
    <div class="row">
      <div class="col-md-3 filter">
        <h2>Filter results</h2>
        <p>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Changhua</a></li>
            <li><a href="#">Chiayi</a></li>
            <li><a href="#">Douliu</a></li>
            <li><a href="#">Hsinchu</a></li>
            <li><a href="#">Hualien</a></li>
            <li><a href="#">Kaohsiung</a></li>
            <li><a href="#">Keelung</a></li>
            <li><a href="#">Magong</a></li>
            <li><a href="#">Miali</a></li>
            <li><a href="#">Nantou</a></li>
            <li><a href="#">New Taipei</a></li>
            <li><a href="#">Pingtung</a></li>
            <li><a href="#">Puzi</a></li>
            <li><a href="#">Taibao</a></li>
            <li><a href="#">Taichung</a></li>
            <li><a href="#">Tainan</a></li>
            <li><a href="#">Taipei</a></li>
            <li><a href="#">Taitung</a></li>
            <li><a href="#">Taoyuan</a></li>
            <li><a href="#">Toufen</a></li>
            <li><a href="#">Yilan</a></li>
            <li><a href="#">Yuanlin</a></li>
            <li><a href="#">Zhubei</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <select class="form-control">
          <option disabled>Weekday</option>
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          <option>Saturday</option>
          <option>Sunday</option>
        </select>
        <select class="form-control">
          <option disabled>Time</option>
          <option>8:00</option>
          <option>8:30</option>
          <option>9:00</option>
          <option>9:30</option>
          <option>10:00</option>
          <option>10:30</option>
          <option>11:00</option>
          <option>11:30</option>
          <option>12:00</option>
          <option>13:00</option>
          <option>13:30</option>
          <option>14:00</option>
          <option>14:30</option>
          <option>15:00</option>
          <option>15:30</option>
          <option>16:00</option>
          <option>16:30</option>
          <option>17:00</option>
          <option>17:30</option>
          <option>18:00</option>
          <option>18:30</option>
          <option>19:00</option>
          <option>19:30</option>
          <option>20:00</option>
          <option>20:30</option>
          <option>21:00</option>
        </select>
      </div>
      <div class="row col-md-9">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Search Result 1</h3>
              <p>Job title: </br> Age: </br> Location: </br></p>
              <p><a href="#" class="btn btn-primary" role="button">Click For More Info</a> <a href="#" class="btn btn-default" role="button">Save to Bookmarks</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Search Result 2</h3>
              <p>Job title: </br> Age: </br> Location:</p>
              <p><a href="#" class="btn btn-primary" role="button">Click For More Info</a> <a href="#" class="btn btn-default" role="button">Save to Bookmarks</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Search Result 3</h3>
              <p>Job title: </br> Age: </br> Location:</p>
              <p><a href="#" class="btn btn-primary" role="button">Click For More Info</a> <a href="#" class="btn btn-default" role="button">Save to Bookmarks</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Search Result 4</h3>
              <p>Job title: </br> Age: </br> Location:</p>
              <p><a href="#" class="btn btn-primary" role="button">Click For More Info</a> <a href="#" class="btn btn-default" role="button">Save to Bookmarks</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Search Result 5</h3>
              <p>Job title: </br> Age: </br> Location:</p>
              <p><a href="#" class="btn btn-primary" role="button">Click For More Info</a> <a href="#" class="btn btn-default" role="button">Save to Bookmarks</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Search Result 6</h3>
              <p>Job title: </br> Age: </br> Location:</p>
              <p><a href="#" class="btn btn-primary" role="button">Click For More Info</a> <a href="#" class="btn btn-default" role="button">Save to Bookmarks</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Search Result 7</h3>
              <p>Job title: </br> Age: </br> Location:</p>
              <p><a href="#" class="btn btn-primary" role="button">Click For More Info</a> <a href="#" class="btn btn-default" role="button">Save to Bookmarks</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Search Result 8</h3>
              <p>Job title: </br> Age: </br> Location:</p>
              <p><a href="#" class="btn btn-primary" role="button">Click For More Info</a> <a href="#" class="btn btn-default" role="button">Save to Bookmarks</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Search Result 9</h3>
              <p>Job title: </br> Age: </br> Location:</p>
              <p><a href="#" class="btn btn-primary" role="button">Click For More Info</a> <a href="#" class="btn btn-default" role="button">Save to Bookmarks</a></p>
            </div>
          </div>
        </div>
        <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
      </div>
  </div>
  </div>
    {{> footer }}
  </body>
</html>
