<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="css/searchpage.css">
	</head>
	<body>
    {{> header}}
    <h1>Search Result of ()</h1>
    <p class="bg-primary bg">Search Result 1<br/>Job Title: Age: <br/>Location: <br/>
      <button type="button" class="btn btn-default">Click for more info</button>
      <img src="..."class="theimg-thumbnail">
    </p>
    <p class="bg-info bg">Search Result 2<br/>Job Title: Age: <br/>Location: <br/>
      <button type="button" class="btn btn-default">Click for more info</button>
      <img src="..."class="theimg-thumbnail">
    </p>
    <p class="bg-primary bg">Search Result 3<br/>Job Title: Age: <br/>Location: <br/>
      <button type="button" class="btn btn-default">Click for more info</button>
      <img src="..."class="theimg-thumbnail">
    </p>
    <p class="bg-info bg">Search Result 4<br/>Job Title: Age: <br/>Location: <br/>
      <button type="button" class="btn btn-default">Click for more info</button>
      <img src="..."class="theimg-thumbnail">
    </p>
    <p class="bg-primary bg">Search Result 5<br/>Job Title: Age: <br/>Location: <br/>
      <button type="button" class="btn btn-default">Click for more info</button>
      <img src="..." class="theimg-thumbnail">
    </p>
    <p class="bg-info bg">Search Result 6<br/>Job Title: Age: <br/>Location: <br/>
      <button type="button" class="btn btn-default">Click for more info</button>
      <img src="..." class="theimg-thumbnail">
    </p>
    {{> footer }}
  </body>
</html>
