<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="css/register.scss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
	{{> header}}
    <?php
    @include "./php/setting.php";
    ?>
    <div id="Registration" style="text-align:center">
      <h1>Profile Setting</h1>
      <div id="Registration-forms">
      <form class="form-inline" id="name" method="post">
        <div class="form-group">
          <p>First Name</p>
          <input type="text" class="form-control" value="<?php echo $row['first_name']; ?>" id="exampleInputName2" placeholder="First Name" name="firstname">
        </div><br/>
        <div class="form-group">
          <p>Last Name</p>
          <input type="text" value="<?php echo $row['last_name'];?>"class="form-control" id="exampleInputName2" placeholder="Last Name" name="lastname">
        </div><br/>
      <div class="form-group row">
        <p>Email</p><p><?php echo $row["email"];?></p>
        <div class="col-xs-10">
        </div>
      </div><br/>
      <div class="form-group row">
        <div class="col-xs-10">
          <p>New password:</p>
          <input class="form-control" type="password" id="example-password-input" name="password">
          <p>Confirm password:</p>
          <input class="form-control" type="password" id="example-password-input" name="confirmpassword">
        </div>
      </div><br/>
      <div class="form-group row">
        <p>Phone number</p>
        <div class="col-xs-10">
          <input class="form-control" value="<?php echo $row['phone_number']; ?>"type="tel" id="example-tel-input" name="phonenumber">
        </div>
      </div><br/>
      <div class="form-group row">
        <p>Birthday</p> <p><?php echo $row["birthday"]; ?></p>
      </div><br/>
      <input type="submit" />
    </form>
  </div>
    </div>

  {{> footer }}
  </body>
</html>
